.BattleScreenCaveBoss {
    display: flex;
    width: 640px;
    height: 640px;
    background-image: url('../../styles/cave-boss-map.png');
    background-position: 0px 0px;
    background-size: cover;
    outline: 5px solid white;
}

.PlayerStat {
    height: 185px;
    width: 1000px;
    /* margin-left: 100px; */
    margin-top: -200px;
    margin-bottom: 300px;
    background-color: black;
    color: white;
    border: 5px solid black;
    display: flex;
    justify-content: left;
}

.PlayerHP {
    margin-top: 30px;
    margin-left: 80px;
}

.CaveBossHp {
    display: flex;
    margin-left: 400px;
    margin-top: -468px;
    margin-bottom: 300px;
    background-color: black;
    color: white;
    border: 5px solid black;
}
.CharacterStat {
    color: white;
    margin-top: 80px;
    margin-left: -60px;
}

.CaveBossAttack {
    width: 80%;
    position: relative;
    transition-duration: 0.4s;
    overflow: hidden;
    cursor: pointer;
    text-decoration: none;
    text-align: center;
    font-size: 80%;
    color: #FFFFFF;
    background-color: rgba(0, 0, 0, 0);
    border: 3px solid rgba(250, 250, 250, 0.9);
    border-radius: 15px;
}

.CaveBossAttack:after {
    content: "";
    display: block;
    position: absolute;
    padding-top: 300%;
    padding-left: 350%;
    margin-left: -20px!important;
    margin-top: -120%;
    opacity: 0;
    transition: all 0.8s;
    background: rgba(204, 204, 204, 0.8);
}

.CaveBossAttack:active:after {
    padding: 0;
    margin: 0;
    opacity: 1;
    transition: 0s;
}

.CaveBossAttack:hover {
    cursor: pointer;
    border-radius: 15px;
    color: black;
    background-color:rgba(204, 204, 204, 0.9);
}