.tile {
    display: inline-flex;
    background-color: green;
}

.fountain {
    background-image: url('../../styles/Dungeon_Crawl_images/sparkling_fountain.png')
}

.door {
    background-image: url('../../styles/HeroSprites/Characters/Objects.png');
    background-position: -128px 0px
}

.chest {
    background-image: url('../../styles/HeroSprites/Characters/Objects.png');
    background-position: left top;
}

.townExit {
    background-image: url('../../styles/HeroSprites/Characters/Objects.png');
    background-position: -128px 0px
}

.road {
    background-image: url('')
}

.townWall {
    background-image: url('../../styles/Dungeon_Crawl_images/church_0.png')
}

.grass {
    background-image: url('../../styles/HeroSprites/Tilesets/AH_A2.png');
    background-position: 0px 0px
}

.bigDoor {
    background-image: url('../../styles/Dungeon_Crawl_images/runed_door.png');
    background-position: -64px -32px
}

.tree {
    background-image: url('../../styles/Dungeon_Crawl_images/mangrove_3.png');
    background-position: -96px -32px
}

.moreGrass3 {
    background-image: url('../../styles/HeroSprites/Tilesets/AH_A2.png');
    background-position: -64px -64px
}

.moreGrass4 {
    background-image: url('../../styles/HeroSprites/Tilesets/AH_A2.png');
    background-position: -96px -64px
}

/* to get a middle sprite for grass from sprite sheet
just calculate the x and y px that would grab that from sheet
you dont have to just move in 32s pick any numbers that view ~middle of the 4 grass boxs */
.moreGrass5 {
    background-image: url('../../styles/HeroSprites/Tilesets/AH_A2.png');
    background-position: -96px 0px
}

.battleTrigger {
    background-image: url('../../styles/HeroSprites/Characters/Objects.png');
    background-position: left top;
}

.battleTile {
    display: inline-flex;
    background-color: transparent;
}

.townTile {
    background-image: url('../../styles/HeroSprites/Characters/Objects.png');
}

.healer {
    background-image: url('../../styles/Dungeon_Crawl_images/sparkling_fountain.png')
}

.dungeonFloor {
    background-image: url('../../styles/Dungeon_Crawl_images/rect_gray_0_old.png')
}

.dungeonWall {
    background-image: url('../../styles/Dungeon_Crawl_images/marble_wall_1.png')
}

.dungeonFountain {
    background-image: url('../../styles/Dungeon_Crawl_images/blood_fountain.png')
}

.flame {
    background-image: url('../../styles/Dungeon_Crawl_images/altar_makhleb_flame_1.png')
}

.itemStore {
    background-image: url('../../styles/elf_new.png');
    background-position: left top;
}

.caveEntrance {
    background-image: url('../../styles/Dungeon_Crawl_images/volcano_exit.png');
    background-position: left top;
}

.caveBossFight {
    background-image: url('../../styles/Dungeon_Crawl_images/tomb_1.png');
    background-position: left top;
}

.caveLairEntrance {
    background-image: url('../../styles/Dungeon_Crawl_images/enter_lair.png');
    background-position: left top;
}
