.tile {
    display: inline-flex;
    background-color: green;
    /* background-image: url('../../styles/HeroSprites/Parallaxes/AH-Sky.png') */
}

.bed {
    background-image: url('')
}

.door {
    background-image: url('../../styles/HeroSprites/Characters/Objects.png');
    background-position: -128px 0px
}

.chest {
    background-image: url('../../styles/HeroSprites/Characters/Objects.png');
    background-position: left top;
}

.townExit {
    background-image: url('../../styles/HeroSprites/Characters/Objects.png');
    background-position: -128px 0px
}

.road {
    background-image: url('')
}

.stoneWall {
    background-image: url('')
}
